Images/
Documents/
docker/
helm/
pages_web/
python/
script/
django-app/
cmdb-ui/
kubernetes/
snap/
inshack-scoreboard/
container.training/
.cache/
.npm/
.nvm/
.docker/
.kube/
.ssh/
.tilt-dev/
.thunderbird/
.gnupg/
.pki/
.zoom/
.config/gedit/
.config/GIMP/
.vim/
.minikube/
.gitlab-runner/
.config/zoomus.conf
.sudo_as_admin_successful
.bash_history
.yarnrc
.wget-hsts
.viminfo

